@page
@model Coursework_1.Pages.IndexModel
@{

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/layoutStyle.css">
    <link rel="stylesheet" href="~/css/elementsStyle.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

    <div class="dropdown-menu">
      <div class="items content-category">
        <div class=items-body>
                    <ul>                                      
                    @foreach (var category in Model.Categories)
                    {
                        <li class="items-body-content"><span>@category.NameCategory</span><i class="fa fa-angle-right"></i></li>
                    }
                    </ul>
        </div>
     </div>
   </div>
}
