.dropdown-menu{
    left: 0;
    top: 117px;
    height: 766px;
    width: 183px;
    z-index: 1;
    position: absolute;
    background-color: #2b2c2c;
    border-radius: 20px;
    transform: translate(-100%, 0px);
    transition: all 0.2s ease 0s;   
}
.dropdown-menu._active{
    transform: translate(0px, 0px);
    transition: all 0.5s ease 0s;
}

.main-content {
    width: 1555px;
    height: 765px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #c4c4c4;
    border-radius: 20px;
}

.content-category {
    font-family: "Rubik", sans-serif;
}

.items {
    width: 183px;
}

.items-head p {
    padding: 5px 20px;
    margin: 10px;
    color: #0B5AA2;
    font-weight: bold;
    font-size: 20px;
}

.items-head hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid #0B5AA2;
}

.items-body {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-gap: 10px;
}

.items-body-content {
    padding: 10px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-size: 13px;
    grid-gap: 10px;
    cursor: pointer;
}

    .items-body-content:hover {
        border-radius: 15px;
        border: 1px solid #0B5AA2;
    }

    .items-body-content i {
        align-self: center;
        font-size: 15px;
        color: #0B5AA2;
        font-weight: bold;
        animation: icon 1.5s infinite forwards;
    }

@keyframes icon {
    0%, 100% {
        transform: translate(0px);
    }

    50% {
        transform: translate(3px);
    }
}